body {
  margin: 0;
  background-color: #63ba7b;
}

h2 {
  margin: 0;
}

.wrapper {
  margin: 0;
  border-style: ridge;
  border-color: chartreuse;
  border-width: 0.25em;
  height: 100vh;
  position: fixed;
  right: 0%;
  background-color: white;
}

#sideImg {
  height: 10em;
  width: 10em;
  border-radius: 100%;
}

#home {
  display: flex;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg");
  height: 100vh;
  background-size: cover;
}
