/* main element styling */
body {
  margin: 0;
  background-color: #1f2429;
  color: #e7cec6;
}

h1 {
  color: #1f2429;
}

h2 {
  margin: 0;
}

ul {
  margin-top: 4em;
}

li {
  margin: 2em;
  display: block;
}

a {
  text-decoration: none;
  color: #1f2429;
}

ul a:active,
ul a:hover {
  color: #319fb1;
  background-color: #e7cec6;
  border-radius: 15%;
  padding: 0.25em;
  text-decoration: underline;
  font-weight: bold;
}
footer {
  margin-top: 2em;
  color: #1f2429;
}

i {
  color: #1f2429;
}

/* class elements styling */
.wrapper {
  margin: 0;
  height: 100vh;
  position: fixed;
  right: 0%;
  background-color: #72b4c7;
}

/* id elements styling */
#sideImg {
  width: 10em;
  border-radius: 100%;
  border-style: double;
  margin-top: 2.5em;
  border-color: #1f2429;
  border-width: 0.25em;
}

#sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#socialLinks button {
  margin: 0 0.5em;
  border-radius: 100%;
  border-style: double;
  background-color: #319fb1;
  border-color: #1f2429;
  border-width: 0.25em;
}

#home {
  display: flex;
  background-image: url("./assets/maksym-zakharyak-6VBRu8jR8to-unsplash.jpg");
  height: 100vh;
  background-size: cover;
}
